anndata==0.11.4
array-api-compat==1.12.0
beniget @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/beniget/beniget-0.4.1
Bottleneck @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/Bottleneck/Bottleneck-1.3.5
deap @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/deap/deap-1.3.3
exceptiongroup==1.3.0
gast @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/gast/gast-0.5.3
GDAL==3.6.2
h5py==3.14.0
igraph==0.11.8
leidenalg==0.10.2
mpmath @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/mpmath/mpmath-1.2.1
natsort==8.4.0
numexpr @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/numexpr/numexpr-2.8.4
numpy @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/numpy/numpy-1.24.2
packaging==25.0
pandas @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/pandas/pandas-1.5.3
ply @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/ply/ply-3.11
pyarrow @ file:///dev/shm/ms725/build/Arrow/16.1.0/gfbf-2022b/apache-arrow-16.1.0/python
pybind11 @ file:///dev/shm/tl397/build/pybind11/2.10.3/GCCcore-12.2.0/pybind11-2.10.3
python-dateutil==2.9.0.post0
python-igraph==0.11.8
pythran @ file:///dev/shm/tl397/build/SciPybundle/2023.02/gfbf-2022b/pythran/pythran-0.12.1
pytz==2025.2
scipy==1.10.1
six==1.17.0
texttable==1.7.0
typing_extensions==4.14.1
tzdata==2025.2
